body {
  background-image: url(../images/City.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #000305;
  font-family: Segoe UI Light;
  line-height: 20px;
}

a {
  text-decoration: none;
  color: #cf5c3f;
}

a:hover {
  color: #fff;
  background-color: #cf5c3f;
  padding: 0.5%;
}

.body {
  margin: 0 auto;
  width: 85%;
  max-width:2000px;  clear: both;
}

.mainheader img {
  width: 30%;
  height: auto;
  margin: 2%;
}

.navi {
  background-color: rgba(102, 102, 102, 0.6);
  height: 40px;
  border-radius: 5px;
}

.navi ul {
  list-style: none;
  margin: 0 auto;
}

.navi li {
  float: left;
  display: inline;
}

.navi li a, .navi li a:visited {
  color: #fff;
  display: inline-block;
  padding: 10px 20px;
  height: 20px;
}

.navi li a:active, .navi li a:hover, .navi li .active, .navi li .active:hover {
  background-color: #cf5c3f;
  text-shadow: none;
}

.maincontent {
  line-height: 20px;
  border-radius: 5px;
}

.content {
  width: 70%;
  float: left;
  border-radius: 5px;
}

.topcontent, .buttomcontent {
  background-color: rgba(255, 255, 255, 0.85);
  padding: 3% 5%;
  margin-top: 3%;
}

.postinfo {
  font-style: italic;
  color: #777;
  font-size: 90%;
}

aside {
  width: 24%;
  float: right;
  background-color: rgba(255, 255, 255, 0.85);
  line-height: 20px;
  margin-left: 2%;
  margin-top: 2%;
  padding: 2% 2%;
}

.mainfooter {
  text-align: center;
  width: 100%;
  height: auto;
  border-radius: 5px;
  background-color: rgba(102, 102, 102, 0.9);
  margin: 2% 0;
  float: left;
}

.mainfooter p {
  width: 92%;
  margin: 1% auto;
  line-height: 20px;
  color: #fff;
}

@media only screen and (min-width: 150px) and (max-width: 720px) {
  .body {
    margin: 0 auto;
    width: 90%;
  }
  .mainheader img {
    width: 100%;
  }
  .navi {
    height: 160px;
  }
  .navi ul {
    padding-left: 0;
  }
  .navi li {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .navi li a:link, .navi li a:visited {
    padding: 10px 20px;
    height: 20px;
    display: block;
  }
  .postinfo {
    display: none;
  }
  .content {
    width: 100%;
    float: left;
    margin-top: 2%;
  }
  .topcontent, .buttomcontent {
    text-align: center;
  }
  aside {
    width: 96%;
    float: left;
    margin-left: 0;
    margin-top: 2%;
    padding: 2% 2%;
  }
}
